.section {
  width: 100%;
  height: auto;
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  background-color: black;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.section > * {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}
